{% extends 'base.html' %}
{% load my_filters %}

{% block content %}

<div class="row justify-content-center">
    <div class="col col-6 align-items-center my-5">

        <h5 class="h5 mb-4">Sign Up</h5>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                {{ user_form.username.errors }}
                <label class="form-label">Username </label>
                {{ user_form.username|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{user_form.password1.errors }}
                <label class="form-label">Password </label>
                {{ user_form.password1|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ user_form.password2.errors }}
                <label class="form-label">Confirm Password</label>
                {{ user_form.password2|addclass:'form-control' }}
                <a class="d-block mb-2 text-decoration-none" href="{% url 'signin' %}"><small>You already have an account?</small></a>
            </div>
            <div class="form-group my-4">
                <input type="submit" class="btn btn-outline-primary" value="Create Account">
            </div>
        </form>
    </div>
</div>

{% endblock content %}